.main-head {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #ffffff;
}
.img-cont {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 10px;
}
.img {
  border-right: solid 1px #64748b;
  margin-right: 6px;
}
.image {
  height: 35px;
  width: 35px;
}
.main-img {
  height: 60px;
  width: 180px;
  margin-bottom: 20px;
}
.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #454f84;
  border-radius: 10px;
}
.image2 {
  height: 400px;
  width: 400px;
}
.upper-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5763a5;
  padding: 20px;
  border-radius: 10px;
}
.input {
  height: 30px;
  width: 200px;
  outline: none;
  border-width: 0px;
  background-color: transparent;
}
.button {
  background-color: #0b69ff;
  font-size: 14px;
  font-family: 'Roboto';
  color: #ffffff;
  border-radius: 6px;
  border-width: 0px;
  outline: none;
  align-self: flex-end;
  padding: 10px;
}
.cont {
  background-color: #c3caea;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}
.inner-cont {
  display: flex;
  flex-direction: column;
}

.first-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.count-cont {
  display: flex;
  align-items: center;
}
.lower-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  background-color: #5763a5;
  border-radius: 10px;
}
.second-cont {
  display: flex;
  align-items: center;
  align-self: flex-end;
}
.line {
  width: 1000px;
  border: solid 1px #94a3b8;
}
.count-para {
  font-size: 16px;
  font-family: 'Roboto';
  color: #ffffff;
  border-radius: 15px;
  border: solid 1px #ffffff;
  background-color: transparent;
  height: 20px;
  width: 30px;
  text-align: center;
  margin-left: 6px;
}
.fourth-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image4 {
  height: 300px;
  width: 300px;
}
.unordered-list {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1000px;
}
